* {
margin: 0px;
padding: 0px;
}

body{
	background-color: #f2f2f2;
}



.cabecera{
	background-color: #E63C2F;
	width:100%;
}

.cabecera img{
margin: 10px 0 10px 0; 
float: center;
}

.cabecera a {
font-family: arial;
color: white;
font-size: 18px;
}

.nav a:hover {
font-family: arial;
color: black;
}

.dropdown-menu a{
color: black;

}
/**********************************/

#present h2{
	text-align: justify;
}

#present p{
	text-align: justify;
}

#present article{
	font-family: Arial;
}

#present h2{
	font-size: 20px;
	font-family: Arial black;
	text-align: center;
}

#present{
margin-right: 10%;
margin-left: 10%;
margin-bottom: 10px;
margin-top: 40px;
}

/**************************************/
#cuerpo{
	background-color: white;
	
}
/**************************************/
#que{
	background-color:#1E6191;
	margin: 0px;
	padding: 20px;	
}

/****************************************/
#acomp p{
	text-align: justify;
}

#acomp {
margin-right: 10%;
margin-left: 10%;
margin-bottom: 40px;
margin-top: 40px;
}

#acomp article{
	font-family: Arial;
	text-align: center;
}


/**************************************/
footer{
	width: 100%;
	background-color: #262626;
	font-family: Arial;
	color: white;
	padding: 0px 0px 5px 0px;
}

footer h2{
	font-size: 25px;
	font-family: Arial;
}

footer p{
	font-size: 15px;
}

footer a{
color: white;
}

/**************************************/
#carrusel{
	 width: 90%;
    display: inline-block;
	margin-bottom: 40px;
	margin-top: 40px;
}

